<form (ngSubmit)="onSaveMember()" [formGroup]="memberInfoForm">
  <div class="panel panel-default">
    <div i18n="@@memberInfo" class="panel-heading">Member Info</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@memberNumber" for="memberNumber">Member Number</label>
            <input type="text" id="memberNumber" class="form-control" formControlName="memberNumber">
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@parentName" for="parentName">Parent Name</label>
            <input type="text" id="parentName" class="form-control" formControlName="parentName">
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@mobileNumber" for="mobile">Mobile Number</label>
            <input type="text" id="mobile" class="form-control" formControlName="mobile">
          </div>
        </div>
      </div>
      <div class="row" formArrayName="children">
        <div class="panel panel-default" *ngFor="let childForm of childrenFormArray.controls; let i = index" [formGroup]="childForm">
          <div i18n="@@ChildNumber" class="panel-heading">Child {{i + 1}}</div>
          <div class="panel-body">
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label i18n="@@childName" for="childName">Child Name</label>
                <input type="text" id="childName" class="form-control" formControlName="childName">
              </div>
            </div>
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label i18n="@@dob" for="dob">D.O.B.</label>
                <input type="date" id="dob" class="form-control" formControlName="dob">
              </div>
            </div>
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label i18n="@@gender" for="gender">Gender</label>
                <select name="gender" id="gender" class="form-control" formControlName="gender">
                  <option i18n="@@male" i18n-value value="male">Male</option>
                  <option i18n="@@female" i18n-value value="female">female</option>
                </select>
              </div>
            </div>
            <button i18n="@@childDeleteButtonText" style="margin-top: 25px" class="btn btn-danger" (click)="onDeleteChild(i)">Delete</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <button i18n="@@childAddButtonText" style="margin-bottom: 10px" type="button" class="btn btn-success" (click)="onAddChild()">Add More Child</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div i18n="@@eReaderInfo" class="panel-heading">e-Reader Info</div>
    <div class="panel-body" formGroupName="eReader">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@eReaderModel" for="model">e-Reader Model</label>
            <input type="text" id="model" class="form-control" formControlName="model">
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@eReaderSerialNumber" for="serialNumber">e-Reader S/N</label>
            <input type="text" id="serialNumber" class="form-control" formControlName="serialNumber">
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@purchasingDate" for="purchasingDate">Purchasing Date</label>
            <input type="date" id="purchasingDate" class="form-control" formControlName="purchasingDate">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div i18n="@@rentalInfo" class="panel-heading">Rental Info</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@deposit" for="deposit">Deposit</label>
            <input type="number" id="deposit" class="form-control" formControlName="deposit">
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label i18n="@@expiryDate" for="expiryDate">Expiry Date</label>
            <input type="date" id="expiryDate" class="form-control" formControlName="expiryDate">
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="pull-right">
    <button i18n="@@saveOrUpdateMemberButtonText" 
      type="submit" 
      class="btn btn-primary" 
      [disabled]="memberInfoForm.invalid">{buttonText, select, Save {Save} Update {Update}}</button>
    <button i18n="@@deleteMemberButtonText" *ngIf="editMode" type="button" class="btn btn-danger" (click)="onDeleteMember()">Delete</button>
  </div>
</form>
