<h3>Parent Name: {{memberInfo.parentName}}</h3>
<small>Mobile: {{memberInfo.mobile}}</small>
<div *ngFor="let child of memberInfo.children; let i = index">
  <p>
    <b>Child{{i + 1}}:</b> {{child.childName}} <b>gender:</b> {{child.gender}}
  </p>
  <p><b>D.O.B.</b> {{child.dob}}</p>
</div>
<hr>
<div class="row">
    <form #fm="ngForm" class="form-inline" (ngSubmit)="onborrowBook(fm)" >
      <div class="form-group">
        <label for="bookName">Book Name: </label>
        <input 
          type="text" 
          id="bookName" 
          class="form-control" 
          name="bookName" 
          ngModel
          required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity: </label>
        <input 
          type="number" 
          id="quantity" 
          class="form-control" 
          name="quantity" 
          ngModel
          required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="fm.invalid">Borrow Book</button>
      <button type="button" class="btn btn-success" (click)="onSaveBooks()">Save</button>
    </form>
    <table class="table table-striped table-hover" style="margin-top: 10px">
      <tr>
        <th>#</th>
        <th>Book Name</th>
        <th>Qantity</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th></th>
      </tr>
      <tr *ngFor="let rentalBook of rentalBooks; let i=index">
        <td>{{i+1}}</td>
        <td>{{rentalBook.bookName}}</td>
        <td>{{rentalBook.quantity}}</td>
        <td>{{rentalBook.borrowDate.toLocaleDateString()}}</td>
        <td>{{rentalBook.returnDate}}</td>
        <td>
          <!-- <a role="button" style="cursor: pointer">Edit</a> -->
          <a role="button" style="cursor: pointer" (click)="onDeleteBook(i)">Delete</a>
        </td>
      </tr>
    </table>
  </div>